body {
   margin: 0;
   background: #1F2937;
}

.container {
   margin: 0 10vw;
   width: 55vw;
   padding: 0 20px;
   font-family: Karla, sans-serif;
   font-weight: 500;
}

#generate-text {
   font-size: 40px;
   text-align: left;
   margin: 10vh 0 10px 0;
   width: 45vw;
   color: white;
}

#grn-text {
   color: #4ADF86;
}

#supporting-text {
   font-family: Inter, sans-serif;
   color: #D5D4D8;
   font-size: 20px;
   font-weight: 400;
   line-height: 28px;
   margin: 0 0 50px 0;
}

#generate {
   color: white;
   background-color: #10B981;
   border-width: 0px;
   border-radius: 6px;
   height: 42px;
   width: 191px;
   font-family: Inter, sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
}

#line {
   margin: 10vh 0;
   padding: 1px;
   background-color: #2F3E53;
}

.password-boxes {
   display: flex;
}

#pbox1 {
   margin: 0 6vw 0 0;
   padding-top: 5px;
   text-align: center;
   background-color: #2F3E53;
   border-width: 0px;
   border-radius: 6px;
   width: 211px;
   font-family: Inter, sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 32px;
   color: #55F991;
}

#pbox2 {
   margin: 0 0 0 0;
   padding-top: 5px;
   text-align: center;
   background-color: #2F3E53;
   border-radius: 6px;
   border-width: 0px;
   height: 35px;
   width: 211px;
   font-family: Inter, sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 32px;
   color: #55F991;
}